.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F38071;
    height: 100px;

}

.navHeader  {
    display: flex;
    justify-content: space-around;
    font-size: 2.5vw;
    width: 40%;
}

.header h1 {
    font-size:  clamp(3vw, 3.5vw, 52px);
    margin-top: 14px;
    margin-bottom: 14px;

}