/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black
}

img {
  max-width: 100%;
  height: auto;
}

/* Fin du Reset CSS */

/* Importation de la police Alex Brush */
@font-face {
  font-family: "Alex Brush";
  src: url(./assets/polices/AlexBrush-Regular.ttf);
}

body {
 font-family: "Alex Brush";
}

h1 {
  font-weight: 400;
}